*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    font-family: Arial, "Helvetica Neue", sans-serif; 
    font-size: 17px;
    color: cornflowerblue;
    line-height: 1.6em; 
}

#showcase{
    background-image: url('../img/mainimage.jpeg');
    background-size: cover;
    background-position:centerl;
       
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}